<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leaderboard</title>
        <link rel='stylesheet' href='../styles/style.css'>
    </head>
    <body>

        <button onclick="window.location.href ='/';"><span>Go back and play the game</span></button>

        <ul id="scores">
			<% for (const user in scores) {%>
				<li>
					<%=user%>'s high score: 
					<% if(scores[user]) { %>
						<%=scores[user]%>
					<% } else { %>
						0
					<% } %>
				</li>
			<% } %>
        </ul>
    </body>
</html>